@import url("variables.css");

@media (max-width: 800px){
    .nav a.navTarget {
    font-size: 24px;
    color: var(--colorSecundary);
    text-decoration: none;
}
    .navTarget{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--colorMobileMenu);
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 100px;
        z-index: 1;        
        clip-path: circle(0% at top right);
        transition: clip-path 0.6s;
    }

    .menu:target{
        clip-path: circle(150% at top right);
    }

    #home h1{
        font-size: 3rem;
    }

    #home div{
        padding: 5px;
        margin: 0;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    #home{
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #about{
        align-items: center;
        padding: 5px;
        text-align: center;
        flex-direction: column-reverse;
    }

    #about h2{
        font-weight: 300;
    }

    #about div{
        padding: 5px;
    }

    #about p{
        padding: 0;
        font-size: 20px;
    }

    .boton{
        font-size: 20px;
    }

    #foodMenu, #service, #more, #contact{
        align-items: center;
        padding: 10px;
    }

    .containerBox1, .containerBox2, .containerBox3{
        flex-direction: column;
    }

    .box1{
        padding: 0;
        margin: 20px 50px;
    }

    #more{
        margin: 10px;
    }

    .box3{
        margin: 0;
    }

    .containerBox3{
        align-items: start;
    }
}
