@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("variables.css");

/*Estilos generales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

/*Inicio de estilo de la primera parte HEADER Y HOME*/
header {
    background-color: rgba(30, 29, 43, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body{
    background-color: var(--colorBody);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    padding-left: 60px;
}

.nav a.navTarget {
    font-size: 0px;
}

.nav h2{
    color: var(--colorPrimary);
    font-weight: 2rem;
}

h1{
    color: var( --colorPrimary);
    font-size: 6rem; /* Diferente */
}

.menu a{
    text-decoration: none;
    color: var(--colorSecundary);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0px 35px;
    transition: 0.4s;
}

.menu a:hover {
    border-bottom: 2px solid var(--colorPrimary);
}

#home{
    padding: 10px 80px;
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

#home div{
    margin: 50px;
    padding: 50px;
    font-size: 1.7rem;
}

#home p{
    color: var(--colorSecundary);
    margin-top: 20px;
    font-weight: bold;
}

#home img{
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.boton {
    display: inline-block;
    text-decoration: none;
    color: var(--colorSecundary);
    padding: 10px;
    background-color: var(--colorPrimary);
    transition: 0.4s;
    margin-top: 40px;
}

.boton:hover
{
    letter-spacing: 3px;
}/*Fin de estilo de la primera parte HEADER Y HOME*/

/*Inicio de estilos de la segunda parte ABOUT*/

#about, #contact{
    padding: 80px 180px;
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

#about div{
    padding: 50px 100px;
    font-size: 1.7rem;
}

h2{
    color: var(--colorSecundary);
    font-weight: 500;
}

#about p{
    color: var(--colorSecundary);
    margin-top: 20px;
}

#about img{
    max-width: 500px;
    width: 100%;
    height: 100%;
}/*Fin de estilos de la segunda parte ABOUT*/

/*Inicio de estilos tercera parte FOODMENU*/

#foodMenu, #service, #more{
    text-align: center;
    font-size: 1.7rem;
    padding: 50px 180px;
    align-items: center;
}

.containerBox1{
    display: flex;
    justify-content: space-around;
}

.box1{
    margin: 50px;
    padding: 20px 30px;
    background-color: var(--colorQuaternary);
    text-align: center;
    position: relative;
}

#foodMenu i{
    padding: 0;
    width:fit-content;
}

#foodMenu .icon{
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.tituloBox{
    color: var(--colorTertiary);
    font-size: 1.3rem;
    font-weight: bold;
}

.precioBox{
    background-color: transparent;
    color: var(--colorPrimary);
    font-weight: bold;
}

#about h3, #foodMenu h3, #service h3{
    color: var(--colorPrimary);
    font-weight: normal;
}

#foodMenu div{
    padding: 30px;
    padding-top: 0;
}

#foodMenu img{
    max-width: 500px;
    width: 100%;
}

/*Fin de estilos tercera parte FOODMENU*/

/*Inicio de estilos cuarta parte SERVICE*/
.containerBox2{
    display: flex;
    justify-content: space-around;
}

.box2{
    margin: 50px 0px;
    text-align: center;
}

#service img{
    max-width: 250px;
    width: 40%;
}

.tituloBox2{
    color: var(--colorPrimary);
    font-weight: normal;
}

.infoBox2{
    color: var(--colorSecundary);
    font-size: 1.2rem;
}/*Fin de estilos cuarta parte SERVICE*/

/*Inicio de estilos quinta parte MORE*/
.boxMore{
    background-color: var(--colorQuaternary);
    padding: 5% 25%;
}

#more h2{
    color: var(--colorTertiary);
}/*Fin de estilos quinta parte MORE*/

/*Inicio de estilos sexta parte CONTACT*/
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 80px 180px;
}

#contact ul{
    list-style: none;
}

.containerBox3{
    display: flex;
    justify-content: space-around;
}

.box3{
    margin: 50px 50px;
    text-align: left;
    padding: 20px;
}

.linkText{
    color:var(--colorSecundary);
}

.linksMenu{
    border: 1px solid var(--colorPrimary);
    width: 50px;
}

#contact ul li p{
    color: var(--colorSecundary);
}

.box3 i{
    background-color:  var(--colorPrimary);
    border-radius: 50%;
    padding: 3px;
    margin: 3px;
}

.contactenos {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.contactenos li {
    margin-right: 5px;
}

.box3 a:link,
.box3 a:visited {
    color:var(--colorSecundary); 
    text-decoration: none; 
}

.box3 a:hover {
    color:var(--colorPrimary);
}/*Fin de estilos sexta parte CONTACT*/